flows (1).json
[
    {
        "id": "4103c55f7059b8c7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c1b4fb13714e8e0d",
        "type": "MSSQL-CN",
        "tdsVersion": "7_4",
        "name": "Test",
        "server": "127.0.0.1",
        "port": "1433",
        "encyption": true,
        "trustServerCertificate": true,
        "database": "FamilyTree",
        "useUTC": true,
        "connectTimeout": "15000",
        "requestTimeout": "15000",
        "cancelTimeout": "5000",
        "pool": "5",
        "parseJSON": false,
        "enableArithAbort": true,
        "readOnlyIntent": false
    },
    {
        "id": "2f58d05bd2b53089",
        "type": "http in",
        "z": "4103c55f7059b8c7",
        "name": "",
        "url": "/getdata",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 60,
        "wires": [
            [
                "651b2fc86782c3e9"
            ]
        ]
    },
    {
        "id": "651b2fc86782c3e9",
        "type": "function",
        "z": "4103c55f7059b8c7",
        "name": "function 1",
        "func": "var name = msg.payload.name + ' đẹp trai quá vậy trời';\nvar age = msg.payload.age;\nmsg.payload = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Bootstrap 5 Website Example</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css\" rel=\"stylesheet\">\n  <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js\"></script>\n  <style>\n  .fakeimg {\n    height: 200px;\n    background: #aaa;\n  }\n  </style>\n</head>\n<body>\n\n<div class=\"row d-flex justify-content-center py-5\">\n  <div class=\"col-md-8 col-lg-6 col-xl-5\">\n\n    <div class=\"card text-body\" style=\" border-radius: 35px;\">\n      <div class=\"card-body p-4\">\n\n        <div class=\"d-flex\">\n          <h6 class=\"flex-grow-1\">Warsaw</h6>\n          <h6>15:07</h6>\n        </div>\n\n        <div class=\"d-flex flex-column text-center mt-5 mb-4\">\n          <h6 class=\"display-4 mb-0 font-weight-bold\"> 13°C </h6>\n          <span class=\"small\" style=\"color: #868B94\">Stormy</span>\n        </div>\n\n        <div class=\"d-flex align-items-center\">\n          <div class=\"flex-grow-1\" style=\"font-size: 1rem;\">\n            <div><i class=\"fas fa-wind fa-fw\" style=\"color: #868B94;\"></i> <span class=\"ms-1\"> 40 km/h </span>\n            </div>\n            <div><i class=\"fas fa-tint fa-fw\" style=\"color: #868B94;\"></i> <span class=\"ms-1\"> 84% </span></div>\n            <div><i class=\"fas fa-sun fa-fw\" style=\"color: #868B94;\"></i> <span class=\"ms-1\"> 0.2h </span></div>\n          </div>\n          <div>\n            <img src=\"https://cdn2.iconfinder.com/data/icons/weather-flat-14/64/weather02-512.png\"\n              width=\"100px\">\n          </div>\n        </div>\n\n      </div>\n    </div>\n\n  </div>\n</div>\n\n</body>\n</html>\n\n`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 60,
        "wires": [
            [
                "5e4fc92e6b250edd"
            ]
        ]
    },
    {
        "id": "5e4fc92e6b250edd",
        "type": "http response",
        "z": "4103c55f7059b8c7",
        "name": "read",
        "statusCode": "200",
        "headers": {
            "content-type": "text/html"
        },
        "x": 490,
        "y": 60,
        "wires": []
    },
    {
        "id": "d32fcc3fda8545b0",
        "type": "inject",
        "z": "4103c55f7059b8c7",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "3847ae9c30f62893"
            ]
        ]
    },
    {
        "id": "c67ceb77b4b01bb6",
        "type": "http request",
        "z": "4103c55f7059b8c7",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8000/insert?name={{{name}}}&age={{{age}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 180,
        "wires": [
            [
                "cef53abd34fff78e",
                "54304d02a0395179"
            ]
        ]
    },
    {
        "id": "cef53abd34fff78e",
        "type": "debug",
        "z": "4103c55f7059b8c7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 180,
        "wires": []
    },
    {
        "id": "3847ae9c30f62893",
        "type": "function",
        "z": "4103c55f7059b8c7",
        "name": "function 2",
        "func": "function makeid(length) {\n    let result = '';\n    const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz';\n    const charactersLength = characters.length;\n    let counter = 0;\n    while (counter < length) {\n      result += characters.charAt(Math.floor(Math.random() * charactersLength));\n      counter += 1;\n    }\n    return result;\n}\nmsg.name = makeid(5);\nmsg.age = Math.round(Math.random() * 100 + 1);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 180,
        "wires": [
            [
                "c67ceb77b4b01bb6"
            ]
        ]
    },
    {
        "id": "54304d02a0395179",
        "type": "MSSQL",
        "z": "4103c55f7059b8c7",
        "mssqlCN": "c1b4fb13714e8e0d",
        "name": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "insert into [User] ([name], [age]) values (@name, @age)",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "editor",
        "paramsOpt": "",
        "paramsOptType": "editor",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [
            {
                "output": false,
                "name": "name",
                "type": "NVarChar(50)",
                "valueType": "msg",
                "value": "payload.name",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "age",
                "type": "int",
                "valueType": "msg",
                "value": "payload.age",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            }
        ],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "eb25ccbd4163f717"
            ]
        ]
    },
    {
        "id": "eb25ccbd4163f717",
        "type": "debug",
        "z": "4103c55f7059b8c7",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 240,
        "wires": []
    }
]